.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	margin-bottom: 25px;

	.logo {
		padding: 15px 20px;
	}

	.nav-links {
		padding-left: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 15px 20px;
			font-size: 1.2rem;
			font-weight: 500;
			color: #4a4a4a;
			cursor: pointer;

			svg {
				color: inherit;
			}

			a {
				text-decoration: none;
				color: inherit;
			}
			&:hover {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}
